<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plantmanager.dao.PlantCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.plantmanager.entity.PlantCategory" >
    <id column="categoryid" property="categoryid" jdbcType="VARCHAR" />
    <result column="categorylevel" property="categorylevel" jdbcType="INTEGER" />
    <result column="categoryname" property="categoryname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    categoryid,categoryname,categorylevel,orderid as id,
    IF(categorylevel=0,'顶级分类',
	IF(categorylevel=1,'一级分类',
	IF(categorylevel=2,'二级分类',
	IF(categorylevel=3,'三级分类',
	IF(categorylevel=4,'四级分类',
	IF(categorylevel=5,'五级分类',
	'六级分类'))))))  as categoryremark,
	state,
    _parentId
  </sql>
  
  <select id="getPlantCategoryByPlantCategoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_plant_category  where categoryid = #{categoryid,jdbcType=INTEGER}
  </select>
  
  <select id="getPlantCategoryByPaging" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_plant_category limit #{param1},#{param2}
  </select>
  
   <select id="getAllPlantCategory" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_plant_category
  </select>
  
  <select id="getLastIndexId" resultType="Integer">
  	select orderid+1 as lastid from tb_plant_category order by orderid desc limit 1
  </select>
  <insert id="insertPlantCategoryInfo">
  	insert into tb_plant_category
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="categorylevel!=null">categorylevel,</if>
  		<if test="categoryname!=null">categoryname,</if>
  		<if test="categoryid!=null">categoryid,</if>
  		<if test="_parentId!=null">_parentId,</if>
  		
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides=",">
  		<if test="categorylevel!=null">#{categorylevel,jdbcType=INTEGER},</if>
  		<if test="categoryname!=null">#{categoryname,jdbcType=VARCHAR},</if>
  		<if test="categoryid!=null">#{categoryid,jdbcType=VARCHAR},</if>
  		<if test="_parentId!=null">#{_parentId,jdbcType=INTEGER},</if>
  	</trim>
  </insert>
  
  <insert id="insertPlantCategoryInfoByBatch" parameterType="java.util.List">
  	<selectKey keyProperty="orderid" order="BEFORE" resultType="java.lang.Integer">
	  	SELECT LAST_INSERT_ID()
	</selectKey>
  	insert into tb_plant_category(categorylevel,categoryname,categoryid,_parentId) values
  	<foreach collection="list" item="item" index="index" separator="," >  
        (#{plantCategory.categorylevel},#{plantCategory.categoryname},#{plantCategory.categoryid},#{plantCategory._parentId})  
    </foreach> 
  </insert>
  
  <update id="updatePlantCategoryInfo">
  	update tb_plant_category 
  	<set>
  		<if test="categoryid != null">
  			categoryid=#{categoryid,jdbcType=VARCHAR},
  		</if>
  		<if test="categorylevel != null">
  			categorylevel=#{categorylevel,jdbcType=INTEGER},
  		</if>
  		<if test="categoryname!=null">
  			categoryname=#{categoryname,jdbcType=VARCHAR}
  		</if>
  		<if test="state!=null">
  			state=#{state,jdbcType=VARCHAR}
  		</if>
  	</set>
	where orderid=#{id,jdbcType=INTEGER}
  </update>
   
</mapper>